body {
    font-family: 'League Spartan', sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    position: relative;
    z-index: 2; /* Eleva a coluna lateral acima do conteúdo principal */
}

.logo-image {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner */
    height: auto; /* Mantém a proporção original da imagem */
    padding-top: 1cm;
    padding-bottom: 1cm;
    /*width: 300px;
    height: 280px;*/
}


nav {
    background: rgb(2, 4, 5);
    color: white;
    padding: 20px;
    width: 410px; /* Ajuste a largura conforme necessário */
}

.sidebar-header {
    text-align: center;
    margin-bottom: 20px;
    padding-left: 0.5cm;
}

.sidebar-header h1 {
    font-size: 1.8cm;
    margin: 0;
    color: white;
}

.sidebar-header h2 {
    font-size: 0.9em;
    margin: 0;
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav a {
    font-size: 2em;
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
}

nav a:hover {
    color: orange;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

header {
    background: rgb(13, 61, 145);
    color: white;
    padding: 20px;
    text-align: center;
    z-index: 1; /* Mantém o cabeçalho acima do conteúdo principal */
    width: 100%; /* Adicionado para garantir 100% de largura */
}

main {
    flex-grow: 1;
    padding: 20px;
}

/* Estilos para tornar o layout mais agradável */
h1{
    color: #ffffff;
    font-size: 1.2cm;
}
h2 {
    color: #333;
}
.bottom-links {
    display: flex;
    padding-top: 20px; /* Adapte conforme necessário */
}
.bottom-links a {
    text-decoration: none;
    color: #333;
    font-size: 1.2em; /* Adapte conforme necessário */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bottom-links img {
    width: auto; /* Ajuste conforme necessário */
    height: 40px; /* Ajuste conforme necessário */
    border-radius: 50%; /* Para criar uma borda circular */
    margin-right: 1px; /* Espaçamento entre a imagem e o texto (opcional) */
}
.video-column {
    display: none; /* Inicialmente oculta */
    width: 400px;
    position: fixed;
    top: 5cm;
    right: 0;
    bottom: 0;
    background-color: white;
    padding: 20px;
    overflow-y: auto;
    /* box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);*/
}
.video-column iframe {
    margin-bottom: 20px; /* Adiciona espaçamento entre os vídeos */
}
section {
    padding: 20px;
    margin: 20px 0;
    background-color: white; /* Adiciona um fundo semi-transparente */
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    /*background-image: url('sua-imagem.jpg');  Substitua 'sua-imagem.jpg' pelo caminho da sua imagem */
    background-size: cover; /* Garante que a imagem cubra todo o contêiner */
}
.show-videos-btn {
    position: fixed;
    top: 4.3cm;
    right: 20px;
    padding: 10px;
    font-size: 1.2em;
    color: white;
    background-color:  rgb(2, 4, 5);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1; /* Certifica-se de que o botão está sobreposto à div de vídeos */
}
.show-videos-btn:hover {
    background-color:orange; /* Cor de destaque ao passar o mouse */
}

.two-columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Ajuste conforme necessário */
}
.three-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Permite que as colunas quebrem para a próxima linha em telas menores */
}
.column {
    flex-basis: calc(33.33% - 10px); /* 33.33% de largura com algum espaço entre as colunas */
    margin-bottom: 20px; /* Ajuste conforme necessário */
}
.column textarea {
    width: 50%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    box-sizing: border-box;

    /* Mudança de cor de fundo */
    background-color: #f0f0f0; /* Substitua pela cor desejada */
}
.column textarea:focus {
    border-color: #007BFF;
    outline: none;
}
.user-profile {
    position: fixed;
    top: 0;
    right: 0;
    padding: 40px;
    z-index: 1000; /* Certifica-se de que está acima de tudo */
}

.user-profile img {
    width: 80px; /* Ajuste conforme necessário */
    height: 80px;
    border-radius: 100%; /* Para criar uma borda circular */
}
.search-bar {
    margin-top: 20px;
}

.search-bar label {
    font-size: 1.2em;
    color: #333;
}

.search-bar input {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(246, 244, 241);
}

.search-bar input:focus {
    border-color: #007BFF;
    outline: none;
}

