body {
    font-family: 'League Spartan', sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    position: relative;
    z-index: 2; /* Eleva a coluna lateral acima do conteúdo principal */
}

.logo-image {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner */
    height: auto; /* Mantém a proporção original da imagem */
    padding-top: 1cm;
    padding-bottom: 1cm;
    /*width: 300px;
    height: 280px;*/
}


nav {
    background: rgb(2, 4, 5);
    color: white;
    padding: 20px;
    width: 340px; /* Ajuste a largura conforme necessário */
}

.sidebar-header {
    text-align: center;
    margin-bottom: 20px;
    padding-left: 0.5cm;
}

.sidebar-header h1 {
    font-size: 1.8cm;
    margin: 0;
    color: white;
}

.sidebar-header h2 {
    font-size: 0.9em;
    margin: 0;
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav a {
    font-size: 2em;
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
}

nav a:hover {
    color: orange;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

header {
    background: rgb(13, 61, 145);
    color: white;
    padding: 20px;
    text-align: center;
    z-index: 1; /* Mantém o cabeçalho acima do conteúdo principal */
    width: 100%; /* Adicionado para garantir 100% de largura */
}

main {
    flex-grow: 1;
    padding: 20px;
}

/* Estilos para tornar o layout mais agradável */
h1{
    color: #ffffff;
    font-size: 1.2cm;
}
h2 {
    color: #333;
}

.two-columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Ajuste conforme necessário */
}

.column {
    flex-basis: calc(50% - 10px); /* 50% de largura com algum espaço entre as colunas */
}

.video-column {
    width: 300px; /* Largura desejada para a coluna de vídeos */
    position: fixed;
    top: 5cm;
    right: 0;
    bottom: 0;
    background-color: #f1f1f1; /* Cor de fundo desejada */
    padding: 20px;
    overflow-y: auto; /* Adiciona uma barra de rolagem quando necessário */
}

.video-column iframe {
    margin-bottom: 20px; /* Adiciona espaçamento entre os vídeos */
}
